{% extends 'layout.html.twig'  %}
{% block content%}
        <div id="map">
        </div>

{% endblock %}
{% block javascript %}
<script>
// On initialise la latitude et la longitude du Lab'O, point de départ de notre "route" (centre de la carte)

var lat = 47.89384;
var lon = 1.89507;
var macarte = null;
var markerClusters; // Servira à stocker les groupes de marqueurs
function initMap() {

// Fonction d'initialisation de la carte
// Nous initialisons une liste de marqueurs
    var villes = {
{% for markers in markers %}
 "{{ markers.markerName }}": {"lat" : {{ markers.latitude }}, "lon":{{ markers.longitude }}},
 {% endfor %}

};
var markers = []; // Nous initialisons la liste des marqueurs
macarte = L.map('map').setView([lat, lon], 15);
markerClusters = L.markerClusterGroup(); // Nous initialisons les groupes de marqueurs
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
// Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
minZoom: 1,
maxZoom: 20

}).addTo(macarte);
// Nous parcourons la liste des villes
for (ville in villes) {
var marker = L.marker([villes[ville].lat, villes[ville].lon]);

marker.bindPopup(ville +'<br><button><a href='+"/candy/basket/add"+'>Ajouter un bonbon</a></button>');
markerClusters.addLayer(marker); // Nous ajoutons le marqueur aux groupes
markers.push(marker); // Nous ajoutons le marqueur à la liste des marqueurs
}
var group = new L.featureGroup(markers); // Nous créons le groupe des marqueurs pour adapter le zoom
macarte.fitBounds(group.getBounds().pad(0.5)); // Nous demandons à ce que tous les marqueurs soient visibles, et ajoutons un padding (pad(0.5)) pour que les marqueurs ne soient pas coupés
macarte.addLayer(markerClusters);

}

window.onload = function () {
// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
initMap();
};
</script>

<form action="/test" method="post">
<label for="currentposition"><h3>Votre position</h3></label>
<input type="text" class="form-control" name="GPS" id="currentposition">
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}