
    <div class="main_menu">
        <div class="burger_menu">
            <div>
              <img class="pumpkin" src="https://image.noelshack.com/fichiers/2018/44/2/1540919666-pumpkin.png" style="width: 100px;height: 100px;">
            </div>
        </div>
        <div class="mail ">
            <div>
                <a href="/bonbondex" ><img class="book" src="https://image.noelshack.com/fichiers/2018/44/2/1540920714-book.png"></a>
            </div>
        </div>
        <div class="home">
            <div>
                <a href="/candy/basket" ><img class="candy" src="https://image.noelshack.com/fichiers/2018/44/3/1540970884-cesta-de-calabaza-naranja.png"></a>
            </div>
        </div>
    </div>

