<!-- Search Bar -->
<div class="row justify-content-center">
    <nav class="m-b-30 search_bar col-md-12 col-lg-5 col-xs-12 col-sm-12  navbar navbar-light m-t-30">
        <form class="form-inline" method="get" action="">
            <label for="search">Recherche</label>
            <input class="search-bar form-control my-lg-0" id="search" type="search" name="search" aria-label="Search" placeholder="Caramel" label="recherche">
            <button class="btn btn-outline-success my-2 my-lg-0" type="submit"><i
                        class="far fa-ghost fas"></i></button>
        </form>
    </nav>
</div>
