*,
:before,
:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
* {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
    color:transparent;

}
a:hover {
    color:transparent;
    text-decoration: none;
}
.pumpkin{
    z-index: 999;
    background-color: white;
    border: white;
    box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 1);
    position: absolute;
}
.candy , .book{
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 1);
}
.burger_menu,
.pumpkin,
.home,
.book,
.mail,
.candy {
    border-radius: 50%;
    cursor: pointer;
    width: 130px;
    height: 130px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: -170px;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.candy , .book{
    bottom: -690px;
}

.burger_menu {
    background: transparent;
    width: 110px;
    height: 110px;
    z-index: 5;
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.burger_menu [class*="_line"] {
    transition: transform 0.3s ease, background 0.3s ease, opacity 0.3s ease, top 0.3s ease;
    width: 28px;
    height: 4px;
    border-radius: 10px;
    background: #fff;
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.burger_menu .top_line {
    top: -20px;
}
.burger_menu .bottom_line {
    top: 20px;
}
.toggle_burger {
    transform: translateZ(0);
    animation: bounce 1s ease-in-out;
}
.toggle_burger .top_line {
    top: 0;
    transform: rotate(45deg);
}
.toggle_burger .middle_line {
    opacity: 0;
}
.toggle_burger .bottom_line {
    top: 0;
    transform: rotate(-45deg);
}
.book,
.candy {
    height: 50px;
    width: 50px;
}
.toggle_home {
    transform: translate3d(-120px, -220px, 0);
}
.toggle_mail {
    transform: translate3d(120px, -220px, 0);
}
.hv_toggle {
    background: #fff;
}
.hv_toggle:hover {
    background: #fff;
}
.hv_toggle i.fa {
    display: none;
}
/*****************************************************************
~ full page content
******************************************************************/
.freeze {
    background: #fff;
    width: 112px;
    height: 112px;
}
.freeze i.fa {
    color: #605770;
}
.hide {
    transform: translate3d(0, 0, 0);
}
main i.fa {
    background: rgba(0,0,0,0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scale {
    z-index: 12;
    opacity: 1;
    transform: scale(50);
}
/*****************************************************************
~ home content
******************************************************************/
.home_content,
.mail_content {
    background: #fff;
    width: 100%;
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 50;
    display: none;
}
.home_content i,
.mail_content i {
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 30px;
    /*position: absolute;*/
    font-weight: lighter;
    top: 25px;
    transition: all 0.2s ease;
}
.home_content i:hover,
.mail_content i:hover {
    color: #605770;
    transform: scale(0.9);
}
.home_content i.icon_home,
.mail_content i.icon_home {
    left: 360px;
}
.home_content i.icon_close,
.mail_content i.icon_close {
    right: 40px;
    font-size: 28px;
}
.home_content img,
.mail_content img {
    transition: all 0.3s ease;
}
.home_content .profile,
.mail_content .profile {
    background-size: 220px;
    border-radius: 50%;
    cursor: pointer;
    width: 230px;
    height: 230px;
    /*position: absolute;*/
    top: -220px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    transform: translateZ(0);
    transition: all 0.3s ease;
}
.home_content .description,
.mail_content .description {
    height: 120px;
    /*position: absolute;*/
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.home_content .description [class^="d"],
.mail_content .description [class^="d"] {
    height: 10px;
    background: #605770;
    margin: 14px auto;
    border-radius: 3px;
}
.home_content .description [class^="d"]:nth-child(-n+2),
.mail_content .description [class^="d"]:nth-child(-n+2) {
    height: 18px;
}
.home_content .description .d1,
.mail_content .description .d1 {
    max-width: 200px;
    margin-top: 0;
}
.home_content .description .d2,
.mail_content .description .d2 {
    max-width: 300px;
    margin-bottom: 40px;
}
.home_content .description .d3,
.mail_content .description .d3 {
    max-width: 350px;
}
.home_content .description .d4,
.mail_content .description .d4 {
    max-width: 330px;
}
.home_content .description .d5,
.mail_content .description .d5 {
    max-width: 340px;
}
/*  box 2
-----------------------------------*/
.box_2 {
    width: 200px;
    height: 200px;
    background: #add8e6;
}
.col_2 .description1 {
    margin-top: 20px;
}
.col_3 .description1 {
    margin-top: 15px;
}
/*****************************************************************
~ mail_content styling
******************************************************************/
.wrap {
    padding-top: 130px;
}
.wrap:after {
    content: "";
    display: table;
    clear: both;
}
.left_form {
    float: left;
    width: 50%;
}
.left_form > div {
    background: #605770;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    margin: 20px 0 0 40px;
}
.left_form > div span {
    background: #302c38;
    display: block;
    width: 90%;
    height: 30px;
}
.right_form {
    width: 50%;
    float: right;
}
.right_form .textarea {
    background: #605770;
    width: 80%;
    height: 190px;
    float: right;
    margin: 20px 40px 0 0;
}
.right_form .textarea .textarea_txt {
    max-width: 30%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    background: #302c38;
}
.send {
    background: #605770;
    width: 200px;
    height: 50px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send .send_txt {
    width: 60%;
    height: 30px;
    background: #302c38;
}
