
@font-face {
    font-family: "Spooky";
    src: url('../font/beta-dance/BETAD___.TTF');


}
.backgroundbody{
    background: linear-gradient(#000000, #fffdfc);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.backgroundbody2{
    background: linear-gradient(#fffdfc, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.backgroundbody2 span{
    position: absolute;
    top: 5px;
    left: 16vw;
    right: 20px;
    padding: 2px;
    font-size: 9pt;
    width: 35px;
    box-shadow: none;
    text-shadow:none;
}

body{
    font-family: Spooky;
    color:#ff7f00;
}
label{
    margin-right: 2vw;
}
.card{
    background:transparent;
    border: none;
    padding:10px;
    text-shadow: 2px 2px 4px black, 0 0 2em black, 0 0 0.8em black;
}
.card-title{
    height: 48px;
    overflow: hidden;
}
.candy-image{
    background-color:#111111;
    height:30vh;
    line-height:30vh;
    text-align:center;
}
.candy-image img{
    vertical-align: middle;
    max-width:100%;
    max-height:100%;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: -38px;
    width: 330px;

}
.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 134, 0, 0.5);
}
.btn-outline-success:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 134, 0, 0.5);
}
.form-control:focus{
    box-shadow: 0 0 0 0rem #ff6200;
    border-color: #ff6200;
}
.form-inline:active .form-control {
   border-color: #ff6200;
}
.btn-outline-success {
    color: #fff;
    background-color: #ff7f00;
    border-color: #ff7f00;
}
.btn-outline-success:hover {


    background-color: #ff6200;
    border-color: #ff6200;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #ff6200;
    border-color: #ff6200;
}
#map {
    height: 100vh;

}