{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Bonbondex/candycard.html.twig' %}
    {#<div class="container">#}
        {#{% include 'searchbar.html.twig' %}#}
        {#<div class="row ">#}
            {#<div class="col-lg-12 bold cl13 fs-30 d-flex justify-content-center m-t-50"></div>#}
            {#{% for candy in candy %}#}
                {#<div class="card  col-sm-4 col-md-4 col-4">#}
                    {#{% block number %}{% endblock %}#}
                    {#<div class="card-img-top candy-image">#}
                        {#<img class="card-img-top image-candy"#}
                         {#src={% if  candy.quantity  == 0  %}"https://image.noelshack.com/fichiers/2018/44/2/1540930365-placeholder.png"{% endif %}"{{ candy.picture }}" alt="Card image cap">#}
                    {#</div>#}
                    {#<h5 class="card-title text-center">{{ candy.name }}</h5>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
{% endblock %}


