<div class="container">
    {% include 'searchbar.html.twig' %}
    <div class="row">
        {% for candy in candy %}
            <div class="card  col-sm-4 col-md-4 col-4">
                <div class="card-img-top candy-image">
                    <img src="{{ candy.picture }}" alt="Card image cap">
                </div>
                <h5 class="card-title text-center">{{ candy.name }}</h5>
            </div>
        {% endfor %}
    </div>
</div>

