{% include 'layout.html.twig' %}
<div class="container">
    {% include 'searchbar.html.twig' %}
    <div class="row">
        {% for candy in candy %}
            <div class="card  col-sm-4 col-md-4 col-4">
                {% block number %}{% endblock %}
                <img class="card-img-top image-candy" src="https://image.noelshack.com/fichiers/2018/44/2/1540930365-placeholder.png" alt="Card image cap">
                    <h5 class="card-title text-center">{{ candy.name }}</h5>
            </div>
        {% endfor %}
    </div>
</div>

